#carCategoryContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 20px;
}

/*h1 {
    text-align: center;
    margin: 20px 0 30px 0;
    font-size: 60px;*/
    /* color: white; */
    /*-webkit-text-stroke: 3px black;
    font-weight: bold;
}*/

.car-category-btn {
    position: relative;

    margin: 0px 0 20px 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 250px;
    font-size: 40px;
    font-weight: bold;
    
    font-weight: bold;
    border-radius: 15px;
    border: 2px solid white;
    overflow: hidden;  
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    z-index: 1;
}

    .car-category-btn .text {
        position: relative;
        z-index: 2;
        opacity: 0;
        transition: opacity 0.2s ease;
        color: white;
/*        -webkit-text-stroke: 1px black;*/

    }

    .car-category-btn:hover .text {
        opacity: 1;
    }

    .car-category-btn:hover {
        box-shadow: 0 10px 30px rgba(0,0,0,0.6);
        filter: grayscale(100%) brightness(1);
    }


#carBtn_0, #carBtn_1, #carBtn_2, #carBtn_3, #carBtn_4, #carBtn_5 {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    filter: grayscale(100%) brightness(0.7);
    transition: filter 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.5)), url('/images/others4.jpg');
    font-size: 40px;
    font-weight: bold;
    border-radius: 15px;
/*    border: 4px solid black;*/
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 250px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

    #carBtn_0:hover,
    #carBtn_1:hover,
    #carBtn_2:hover,
    #carBtn_3:hover,
    #carBtn_4:hover,
    #carBtn_5:hover {
        filter: grayscale(100%) brightness(1);
        transform: scale(1.1) rotate(-1deg);
        box-shadow: 0 10px 30px rgba(0,0,0,0.6);
    }

#carBtn_1 {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('/images/sedan4.jpg');
}

#carBtn_2 {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('/images/suv4.jpg');
}

#carBtn_3 {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('/images/kombi4.jpg');
}

#carBtn_4 {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('/images/hatchback4.jpg');
}

#carBtn_5 {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('/images/sport4.jpg');
}