.blocked-day span {
    background-color: #ff4d4d !important;
    color: white !important;
    border-radius: 50%;
}

#reservationError {
    color: #ff6b6b;
    font-weight: bold;
    margin-top: 5px;
}
