@{
    ViewData["Title"] = "Home Page";
}

@* <link rel="stylesheet" href="~/css/title.css" /> *@


<div class="page-wrapper">
    <div class="content">
        <img src="/images/titlepage.jpg" alt="Hero Image" class="hero-img">
        <div id="text-wrapper">
            <h1 class="display-4">Witamy!</h1>
            <p>Witamy na stronie wypożyczalni samochodów!</p>
         </div>
     </div>
</div>


