@model CarRentalApp.Models.Reservation

@{
    ViewData["Title"] = "Edit";
}

<h1>Edytuj:</h1>

<h4>Rezerwacja.</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="CarId">Samochód</label>
                <select asp-for="CarId" asp-items="ViewBag.Cars" class="form-control">
                    <option value="">-- wybierz samochód --</option>
                </select>
                <span asp-validation-for="CarId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label">Od kiedy:</label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label">Do kiedy:</label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Zapisz" class="btn btn-primary" /> |

                @if (User.IsInRole("User"))
                {
                    <a asp-controller="Reservation" asp-action="MyReservations" class="btn btn-secondary">Powrót</a>
                }

                @if (User.IsInRole("Admin"))
                {
                    <a asp-action="Index" class="btn btn-secondary">Powrót</a>
                }
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
